{% extends 'table_base.html' %}
{% block title %} Agent管理 {% endblock %}
{% block header %}
  {% from 'form_macros.html' import search_field %}
  {{ search_field('Agent名称', 'name', '请输入Agent名称') }}
{% endblock %}
{% block extra_js %}
<script>
  var config = {
    url: "agent",
    name: "Agent",
    table: {
      elem: "#LAY-list",
      url: "/admin/agent/search",
      cols: [
        [
          { type: "checkbox", fixed: "left" },
          { field: "id", width: 80, title: "ID", sort: true },
          { field: "name", title: "名称", width: 150 },
          { field: "base_ids", title: "知识库IDs", width: 200 },
          { field: "max_ref", title: "引用上限", width: 100 },
          { field: "min_cor", title: "相关度下限", width: 100 },
          { field: "q_model_id", title: "问题模型ID", width: 100 },
          { field: "a_model_id", title: "答案模型ID", width: 100 },
          { field: "a_prompt", title: "答案提示", width: 200 },
          {
            title: "操作",
            minWidth: 150,
            align: "center",
            fixed: "right",
            toolbar: "#table-action-list",
          },
        ],
      ],
      page: true,
      limit: 10,
      text: {
        none: "暂无数据",
      },
    },
  };
</script>
{% endblock %}
