{% extends 'base.html' %} {% block title %}
  仪表盘
{% endblock %}
{% block content %}
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">快捷方式</div>
          <div class="layui-card-body">
            <div class="layui-carousel layadmin-carousel layadmin-shortcut" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
              <div carousel-item="">
                <ul class="layui-row layui-col-space10 layui-this">
                  <li class="layui-col-xs3">
                    <a lay-href="knowledgebase">
                      <i class="layui-icon layui-icon-friends"></i>
                      <cite>知识库</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="knowledgecontent">
                      <i class="layui-icon layui-icon-read"></i>
                      <cite>知识内容</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="model">
                      <i class="layui-icon layui-icon-component"></i>
                      <cite>模型管理</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="agent">
                      <i class="layui-icon layui-icon-user"></i>
                      <cite>Agent管理</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="message">
                      <i class="layui-icon layui-icon-log"></i>
                      <cite>消息内容</cite>
                    </a>
                  </li>
                  <li class="layui-col-xs3">
                    <a lay-href="setting">
                      <i class="layui-icon layui-icon-set"></i>
                      <cite>平台设置</cite>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% block extra_js %}
  <script>
    layui
      .config({
        base: '/admin/static/' // 静态资源所在路径
      })
      .use(['index'])
  </script>
{% endblock %}
