{% extends 'table_base.html' %} {% block title %} 知识库内容管理 {% endblock %}
{% block header %} {% from 'form_macros.html' import search_field %} {{
search_field('关键词', 'keyword', '请输入内容关键词') }} {% endblock %} 


{% block body_button %}
<button class="layui-btn layuiadmin-btn-list" data-type="import">导入文件</button>
{% endblock %}
{% block
extra_js %}
<script>
  var config = {
    url: "knowledgecontent",
    name: "知识库内容",
    table: {
      elem: "#LAY-list",
      url: "/admin/knowledgecontent/search",
      cols: [
        [
          { type: "checkbox", fixed: "left" },
          { field: "id", width: 80, title: "ID", sort: true },
          {
            field: "base_id",
            title: "知识库",
            width: 100,
            templet: function (d) {
              return {{ mapping | safe }}[d.base_id];
            },
          },
          { field: "content", title: "内容", width: 300 },
          { field: "embedding", title: "向量数据", width: 150 },
          {
            title: "操作",
            minWidth: 150,
            align: "center",
            fixed: "right",
            toolbar: "#table-action-list",
          },
        ],
      ],
      page: true,
      limit: 10,
      text: {
        none: "暂无数据",
      },
    },
  };
</script>

<script>
  layui
    .config({
      base: "/admin/static/", // 静态资源所在路径
    })
    .use([], function () {

      var form = layui.form,
        laytpl = layui.laytpl,
        $ = layui.$;
      var active = {
        import: function () {
          layer.open({
            type: 2,
            title: "导入文件",
            content: "/admin/knowledgecontent_import",
            area: ["550px", "550px"],
          });
        },
      };

      // 绑定按钮事件
      $(".layui-btn.layuiadmin-btn-list").on("click", function () {
        var type = $(this).data("type");
        active[type] && active[type].call(this);
      });
    });
</script>
{% endblock %}
