{% extends 'table_base.html' %}
{% block title %} 模型管理 {% endblock %}
{% block header %}
{% from 'form_macros.html' import search_field %}
{{ search_field('模型名称', 'name', '请输入模型名称') }}
{% endblock %}
{% block extra_js %}
<script>
  var config = {
    url: "model",
    name: "模型",
    table: {
      elem: "#LAY-list",
      url: "/admin/model/search",
      cols: [
        [
          { type: "checkbox", fixed: "left" },
          { field: "id", width: 80, title: "ID", sort: true },
          { field: "name", title: "模型名称", width: 150 },
          { field: "base_url", title: "基础URL", width: 200 },
          { field: "api_key", title: "API密钥", width: 200 },
          {
            field: "model_type",
            title: "类型",
            width: 100,
            templet: function (d) {
              return d.model_type == 0 ? 'embedding' : 'chat';
            }
          }, {
            title: "操作",
            minWidth: 150,
            align: "center",
            fixed: "right",
            toolbar: "#table-action-list",
          },
        ],
      ],
      page: true,
      limit: 10,
      text: {
        none: "暂无数据",
      },
    },
  };
</script>
{% endblock %}