{% extends 'form_base.html' %}
{% block title %} 订单管理-表单 {% endblock %}
{% block content %}
    {% from 'form_macros.html' import input_field %}
    {{ input_field('用户ID', 'user_id', '请输入用户ID', required=True) }}
    {{ input_field('商品ID', 'product_id', '请输入商品ID', required=True) }}
    {{ input_field('数量', 'quantity', '请输入数量', 'number', required=True) }}
    {{ input_field('总价', 'total_price', '请输入总价', 'number', required=True) }}
    {{ input_field('状态', 'status', '请输入状态', required=True) }}
{% endblock %}