{% extends 'table_base.html' %}
{% block title %} 用户管理 {% endblock %}
{% block header %}
  {% from 'form_macros.html' import search_field %}
  {{ search_field('用户名', 'name', '请输入用户名') }}
  {{ search_field('邮箱', 'email', '请输入邮箱') }}
  {{ search_field('余额', 'balance', '请输入余额') }}
{% endblock %}
{% block extra_js %}
<script>
  var config = {
    url: "user",
    name: "用户",
    table: {
      elem: "#LAY-list",
      url: "/admin/user/search",
      cols: [
        [
          { type: "checkbox", fixed: "left" },
          { field: "id", width: 80, title: "ID", sort: true },
          { field: "name", title: "用户名", width: 150 },
          { field: "email", title: "邮箱", width: 200 },
          { field: "balance", title: "余额", width: 120 },
          {
            title: "操作",
            minWidth: 150,
            align: "center",
            fixed: "right",
            toolbar: "#table-action-list",
          },
        ],
      ],
      page: true,
      limit: 10,
      text: {
        none: "暂无数据",
      },
    },
  };
</script>
{% endblock %}
